.team-section {
    width: 100%;
    background-color: $gray-50;
    margin-top: 70px;
    transform: skewY(1deg);
}
.team-inner-section {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $gray-75;
    transform: skewY(1deg);
}
.team-container {
    transform: skewY(-2deg);
}
body.dark .team-section {
    background-color: $gray-850;
}
body.dark .team-inner-section {
    background-color: $gray-800;
}

.team-tittle {
    margin-bottom: 30px;
}

.team-tittle {
    margin-top: 40px;
    margin-bottom: 40px;
}

.team-avatar {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.team-bio {
    text-align: justify;
}

.team-item-container {
    margin-bottom: 30px;
}

.team-link {
    padding-bottom: 10px;
}
